{% extends 'admin_dash/admindashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">gender</th>
      <th scope="col">age</th>
      <th scope="col">phone</th>
      <th scope="col">email</th>
      <th scope="col">department</th>
      <th scope="col">semester</th>
      <th scope="col">roll_number</th>
      <th scope="col">id_number</th>
      <th scope="col">image</th>
      <th scope="col">Approve</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
  {% for i in student_objects %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.gender}}</td>
      <td>{{i.age}}</td>
       <td>{{i.phone}}</td>
       <td>{{i.email}}</td>
       <td>{{i.department}}</td>
      <td>{{i.semester}}</td>
      <td>{{i.roll_number}}</td>
       <td>{{i.id_number}}</td>
      <td style="position:relative;"><img src="{{i.image.url}}" style="position:absolute;width:90%;height:100%;"></td>
      <td><a href="{% url 'approve_student' i.id %}"><button class="btn btn-success">Approve<br>as faculty</button></a></td>
      <td><a href="{% url 'remove_student_request' i.id %}" onclick="confirm_delete()"><button class="btn btn-danger">Delete<br>this faculty<br></button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
